/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*--first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: hsl(219, 4%, 4%);
  --container-color: hsl(219, 4%, 7%);*/

  /*DARK PALETTE*/
  --first-color-alt: rgb(78, 79, 235);
  --first-color: rgb(6, 143, 255);
  --title-color: rgba(238, 238, 238, 0.9);
  --text-color: rgba(238, 238, 238, 0.7);
  --text-color-light: rgba(238, 238, 238, 0.3);
  --white-color: rgb(238, 238, 238);
  --body-color: rgba(0, 0, 0, 0.9);
  --container-color: rgba(0, 0, 0, 0.7);


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

[tema="light"]{
  /*LIGHT  PALETTE*/
  --first-color-alt: rgb(47, 137, 252);
  --first-color: rgb(245, 245, 245);
  --title-color: rgb(47, 137, 252);
  --text-color: rgb(245, 245, 245);
  --text-color-light: rgb(48, 56, 65);
  --white-color: rgb(48, 56, 65);
  --body-color: white;
  --container-color: white;
}


@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
  height: 100%;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.text_resalt {
  color: var(--first-color);
}

/*Botón de cambio de tema*/

#switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  
  #switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider_switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--title-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider_switch:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: var(--first-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider_switch {
    background-color: var(--first-color-alt);
  }
  
  input:focus + .slider_switch {
    box-shadow: 0 0 1px var(--first-color-alt);
  }
  
  input:checked + .slider_switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider_switch.round {
    border-radius: 34px;
  }
  
  .slider_switch.round:before {
    border-radius: 50%;
  }

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.shape {
  background-color: rgba(6, 143, 255, 0.5);
  filter: blur(112px);
  border-radius: 50%;
}

.shape_big {
  width: 400px;
  height: 400px;
}
.shape_small {
  width: 300px;
  height: 300px;
}
.shape_smaller {
  width: 180px;
  height: 180px;
  filter: blur(64px);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo, .nav_toggle {
  color: var(--title-color);
  display: inline-flex;
}

.nav_logo {
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav_logo i {
  font-size: 1.25rem;
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav_toggle {
  font-size: 1.25rem;
  cursor:pointer;
}

@media screen and (max-width: 910px) {
  .nav_menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(96px);
    transition: .3s;
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav_link {
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav_link:hover {
  color: var(--first-color)
}

.nav_close {
  font-size: 2rem;
  color: var(--white-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 300px;
  overflow: auto;
  padding-top: .5rem;
  border-radius: .25rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: var(--white-color);
  padding: 5px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: .7rem;
  width: 250px;
  text-decoration: none;
  text-align: left;
  background-color: var(--first-color);
}
.dropdown-content a:hover {
  color: var(--text-color);
  background-color: rgb(0, 0, 0);
}

/* Show menu */
.show_menu  {
  right: 0;
}

/* Change background header */
.scroll_header {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--body-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Active link */
.active_link {
  color: var(--first-color)
}

/*=============== HOME SWIPER ===============*/
.imagenes_top_home {
  display: none;
  transition: opacity 0.5s ease; /* Efecto de desvanecimiento */
}

/*=============== HOME ===============*/
.home {
  position: relative;
  overflow: hidden;
}

.home_container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home_data {
  text-align: center;
}

.home_align {
  text-align: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.home_title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.home_subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
  margin-left: -1.15rem;
}

.home_subt_1 {
  margin-left: -0.8rem;
}
.home_subt_2 {
  margin-left: 0rem;
}
.home_subt_3 {
  margin-left: -0.6rem;
}
.home_subt_4 {
  margin-left: -0.7rem;
}
.home_subt_5 {
  margin-left: -0.3rem;
}

.home_elec {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.home_elec i {
  color: var(--first-color);
}

.home_img {
  width: 780px;
  justify-self: center;
}

.home_car {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-bottom: 2rem;
}

.home_car_name {
  font-size: .625rem;
  font-weight: 400;
  color: var(--text-color-light);
}

.home_car_data {
  text-align: center;
}

.home_car_number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}
.home_car_number:hover {
  color: var(--first-color);
}
.home_car_icon {
  background-color: var(--first-color);
  color: var(--container-color);
  border-radius: 50%;
  padding: .376rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  margin-bottom: .75rem;
  width: 40px;
  height: 40px;
}
.home_car_icon:hover {
  background-color: var(--white-color);
  color: var(--first-color);
}
.home_button {
  position: relative;
  border: 2px solid var(--first-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.home_button::before {
  content: '';
  border: 2px solid var(--first-color);
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px var(--first-color);
  transition: .3s;
  animation: button 3s infinite;
}

.button_aligns {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

#quote_button {
  position: relative;
  border: 2px solid var(--first-color);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

#quote_button h3 {
  text-align: center;
}

#quote_button::before {
  content: '';
  border: 3px solid var(--first-color);
  width: 110px;
  height: 110px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px var(--first-color);
  transition: .3s;
  animation: button 3s infinite;
}

.achieves {
  padding-top: 1rem;
  margin-top: -3rem;
}

.home .shape_big, .home .shape_small {
  position: absolute;
}

.home .shape_big {
  left: -9rem;
  bottom: 11rem;
}

.home .shape_small {
  right: -10rem;
  top: -4rem;
}

/* Button animate */
@keyframes button {
  0% {
    box-shadow: 0 0 12px rgb(78, 79, 235);
  }
  50% {
    box-shadow: 0 0 24px rgb(78, 79, 235);
  }
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: .25rem;
  font-size: var(--normal-font-size);
  transition: .3s;
}

.button :hover {
  background-color: var(--first-color);
  color: var(--body-color);
 }

/*=============== ABOUT ===============*/
.about_container {
  row-gap: 6rem;
  /*padding-top: -20rem;*/
}
.about_group {
  position: relative;
}

.about_img {
  width: 510px;
  border-radius: .5rem;
}

.about_card {
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  padding: 1rem .75rem;
  text-align: center;
  border-radius: 1.25rem;
}

.about_card_title {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.about_card_description {
  font-size: var(--smaller-font-size);
}

.about_title {
  text-align: initial;
  margin-bottom: 2rem;
}

.about_description {
  margin-bottom: 2rem;
}

#achieves {
  margin-bottom: -10rem;
  margin-top: -3rem;
}

/*=============== POPULAR ===============*/
.popular_container {
  padding-top: 1rem;
}

.popular_card {
  position: relative;
  width: 238px;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

.popular_card .shape_smaller {
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}

.popular_title, .popular_subtitle, .popular_img {
  position: relative;
}

.popular_title {
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

.popular_subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}

.popular_img {
  width: 160px;
  margin: .75rem 0 1.25rem 1.5rem;
  transition: .3s;
}

.popular_data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: .5rem 1.25rem;
  margin-bottom: 2rem;
}

.popular_data_group {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  color: var(--white-color);
}

.popular_data i {
  font-size: 1rem;
}

.popular_price {
  font-size: var(--h3-font-size);
}

.popular_button {
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}

.popular_button i {
  font-size: 1.25rem;
}

.popular_card:hover .popular_img {
  transform: translateY(-.25rem);
}

.popular_align {
  text-align: center;
  margin-bottom: 2rem;
}

/* Swiper class */
.swiper-pagination-bullet {
  background: var(--white-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color-alt);
}

/*=============== FEATURES ===============*/
.features {
  overflow: hidden;
  position: relative;
}

.features_container {
  padding-top: 2rem;
  grid-template-columns: 285px;
  justify-content: center;
}

.features_group {
  display: grid;
  position: relative;
  z-index: 10;
}

.features_align {
  text-align: center;
  margin-bottom: 2rem;
}

.features_img {
  width: 150px;
  justify-self: center;
}

.features_card {
  width: 112px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 1.25rem;
  padding: .75rem 2rem;
  text-align: center;
  color: var(--title-color);
  position: absolute;
}

.features_card:hover {
  background-color: var(--first-color-alt);
  backdrop-filter: blur(16px);
  color: var(--container-color);
}

.features_card_1 {
  top: 10rem;
  left: 2.5rem;
  z-index: var(--z-tooltip);
}

.features_card_2 {
  top: 13rem;
  right: 1rem;
  z-index: var(--z-tooltip);
}

.features_card_3 {
  bottom: 18rem;
  left: 1.5rem;
  z-index: var(--z-tooltip);
}

.features_card_description {
  font-size: var(--smaller-font-size);
}

.features_card_title {
  font-size: var(--h3-font-size);
}

.features_map {
  transform: rotate(180deg);
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

dialog {
  width: 650px;
  height: 300px;
  padding: 2rem;
  border-radius: .75rem;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.5);
}

dialog#modal_card_1 {
  top: 30%;
  left: 20%;
}
dialog#modal_card_2 {
  top: 30%;
  left: 20%;
}
dialog#modal_card_3 {
  top: 30%;
  left: 20%;
}

dialog p {
  color: rgb(238, 238, 238);
}

dialog h2 {
  color: rgb(6, 143, 255);
}

dialog a.button {
  color: rgb(238, 238, 238);
  background-color: rgb(6, 143, 255);
}

/*=============== FEATURED ===============*/
.featured_container {
  padding-top: 1rem;
}

.featured_filters {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 3.5rem;
}

.featured_item {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  padding: .75rem;
  border-radius: .75rem;
  background-color: var(--container-color);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: .3s;
}

.featured_item img {
  width: 1.5rem;
}

.featured_item span, .featured_item img {
 opacity: .3;
 transition: .3s;
}

.featured_item:hover {
  background-color: var(--first-color);
}

.featured_item:hover span, .featured_item:hover img {
  opacity: 1;
 }

 .featured_align {
  text-align: center;
  margin-bottom: 2rem;
}

 .featured_content{
  grid-template-columns: 228px;
  row-gap: 2.5rem;
  justify-content: center;
 }

 .featured_content_tint {
  grid-template-columns: 100%;
  justify-content: left;
  margin-top: -2rem;
 }

 .featured_card{
  position: relative;
  background-color: var(--container-color);
  border-radius: 1rem;
  height: 800px;
 }

 .featured_card .shape_smaller{
  position: absolute;
  inset: 0;
  margin: auto;
 }

 .featured_title, .featured_subtitle, .featured_img {
  position: relative;
 }

 .featured_title{
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
 }

 .featured_subtitle{
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
 }

 .featured_img{
  width: 180px;
  margin: 1.5rem 0;
  transition: .3s;
 }

 .featured_price{
  font-size: var(--h3-font-size);
 }

 .featured_button{
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
 }

 .featured_button i{
  font-size: 1.25rem;
 }

 .featured_card:hover .featured_img {
  transform: translateX(-.25rem);
 }

/* Active link featured */
.active_featured {
  background-color: var(--first-color);
 }

 .active_featured span, .active_featured img {
  opacity: 1;
 }

/* Active Show/Hide Articles */
.hide_article {  
  display: none;
}

.show_article {  
  display: block;
}

/*=============== OFFER ===============*/
.offer {
  position: relative;
}

.offer_container {
  grid-template-rows: max-content 224px;
}

.offer_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(50%);
}

.offer_data, .offer_img {
  position: relative;
}

.offer_data {
  text-align: center;
}

.offer_title {
  margin-bottom: 2rem;
}

.offer_description {
  margin-bottom: 3rem;
}

.offer_img {
  position: relative;
  max-width: initial;
  width: 600px;
  height: auto;
  right: 3rem;
  align-items: center;
}

/*=============== LOGOS ===============*/
.logos_img {
  width: 40px;
  opacity: .4;
  transition: .3s;
}

.logos_container {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 2rem;
}

.logos_img:hover {
  opacity: 1;
}

#car_logos {
  grid-template-columns: repeat(11, max-content);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: -5rem;
}

/*=============== FOOTER ===============*/
.footer {
  position: relative;
  overflow: hidden;
}

.footer .shape_big, .footer .shape_small {
  position: absolute;
}

.footer .shape_big {
  width: 300px;
  height: 300px;
  left: -12rem;
  top: 12rem;
}

.footer .shape_small {
  right: -13rem;
  top: 12rem;
}

.footer_container {
  row-gap: 2.5rem;
  position: relative;
}

.footer_logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.25rem;
  transition: .3s;
}

.footer_logo i {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer_logo:hover {
  color: var(--first-color);
}

.footer_title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer_links {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer_link, .footer_social_link {
  color: var(--text-color);
  transition: .3s;
}

.footer_link:hover, .footer_social_link:hover {
  color: var(--title-color);
}

.footer_social {
  display: flex;
  column-gap: 1.5rem;
}

.footer_social_link {
  font-size: 1.25rem;
}

.footer_copy {
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(6, 143, 255);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(78, 79, 235);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  display: inline-flex;
  padding: .45rem;
  border-radius: .5rem;
  font-size: 1.15rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show_scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/*for really small devices*/
@media screen and (max-width: 490px) {
  .achieves {
    grid-template-columns: repeat(2, max-content);
  }
  #movil_icons_links_0 {
    display: none;
  }
  #map_img_400 {
    filter: brightness(60%);
  } 

  #about_img_400 {
    margin-bottom: -4rem;
  } 

  .offer_img {
    position: relative;
    max-width: initial;
    width: 600px;
    height: auto;
    right: 300rem;
    align-items: center;
  }

  #car_logos {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: -4rem;
  }
}

@media screen and (min-width: 491px) {
  #movil_icons_links_1, #movil_icons_links_2, #movil_icons_links_3, #movil_icons_links_br, #map_img_400 {
    display: none;
  } 
}

/* For small devices */
@media screen and (max-width: 525px) {

  .features_card_1 {
    top: 12rem;
    left: 2.5rem;
    z-index: var(--z-tooltip);
  }

  .features_card_2 {
    top: 14rem;
    right: 3rem;
    z-index: var(--z-tooltip);
  }

  .features_card_3 {
    bottom: 22rem;
    left: 13rem;
    z-index: var(--z-tooltip);
  }

  dialog#modal_card_1, dialog#modal_card_2, dialog#modal_card_3 {
    top: 40%;
    left: 4%;
  }

  #car_logos {
    grid-template-columns: repeat(6, max-content);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: -4rem;
  }

  #about_img_400 {
    margin-bottom: -4rem;
  } 
}

@media screen and (min-width: 526px) {
  #car_logos {
    grid-template-columns: repeat(7, max-content);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: -4rem;
  }

  .features_card_1 {
    top: 12rem;
    left: 2.5rem;
    z-index: var(--z-tooltip);
  }

  .features_card_2 {
    top: 14rem;
    right: 3rem;
    z-index: var(--z-tooltip);
  }

  .features_card_3 {
    bottom: 22rem;
    left: 13rem;
    z-index: var(--z-tooltip);
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home_car {
    column-gap: 2rem;
  }

  .about_card {
    width: 150px;
  }

  .offer_container {
    grid-template-rows: max-content 180px;
  }

  .offer_img {
    position: relative;
    width: 800px;
    align-items: center;
  }

  .logos_container {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 575px) {
  #achieves {
    margin-bottom: -1rem;
    margin-top: -3rem;
  }

  #car_logos {
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: -4rem;
  }
}

@media screen and (max-width: 360px) {
  #achieves {
    margin-bottom: -1rem;
    margin-top: -3rem;
  }

  #car_logos {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: -4rem;
  }

}

/* For medium devices */
@media screen and (min-width: 576px) {
  .about_group {
    width: 350px;
    justify-self: center;
  }

  .features_map {
    left: 0;
    right: 0;
    top: 6rem;
  }

  .featured_content {
    grid-template-columns: repeat(2, 228px);
  }

  dialog#modal_card_1, dialog#modal_card_2, dialog#modal_card_3 {
    top: 40%;
    left: 3%;
  }

  .offer_container {
    grid-template-rows: initial;
    grid-template-columns: .5fr;
    justify-content: center;
  }

  .offer_img {
    position: relative;
    max-width: initial;
    width: 600px;
    height: auto;
    right: -1rem;
    bottom: 2rem;
    align-items: center;
  }

  .offer_data {
    margin-bottom: 4rem;
  }

  .features_card_1 {
    top: 10rem;
    left: 5rem;
    z-index: var(--z-tooltip);
  }

  .features_card_2 {
    top: 12rem;
    right: 6rem;
    z-index: var(--z-tooltip);
  }

  .features_card_3 {
    bottom: 9rem;
    left: 15rem;
    z-index: var(--z-tooltip);
  }


  #achieves {
    margin-bottom: -7rem;
    margin-top: -3rem;
  }
}

@media screen and (min-width: 679px) {
  .nbsp {
    display: none;
  }

  .offer_img {
    position: relative;
    max-width: initial;
    width: 800px;
    height: auto;
    right: -2rem;
    align-items: center;
  }

  .features_card_1 {
    top: 14rem;
    left: 6rem;
    z-index: var(--z-tooltip);
  }

  .features_card_2 {
    top: 16rem;
    right: 7rem;
    z-index: var(--z-tooltip);
  }

  .features_card_3 {
    bottom: 11rem;
    left: 20rem;
    z-index: var(--z-tooltip);
  }

  #car_logos {
    grid-template-columns: repeat(8, max-content);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: -4rem;
  }
}

@media screen and (min-width: 910px) {
  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav_toggle, .nav_close {
    display: none;
  }

  .nav_list {
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }

  .nav_link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .about_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .features_card_1 {
    top: 16rem;
    left: 12rem;
    z-index: var(--z-tooltip);
  }

  .features_card_2 {
    top: 19rem;
    right: 10rem;
    z-index: var(--z-tooltip);
  }

  .features_card_3 {
    bottom: 12rem;
    left: 25rem;
    z-index: var(--z-tooltip);
  }

  dialog#modal_card_1, dialog#modal_card_2, dialog#modal_card_3 {
    top: 40%;
    left: 8%;
  }

  #car_logos {
    grid-template-columns: repeat(9, max-content);
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: -4rem;
  }

  .logos_container {
    gap: 4rem 8rem;
  }

  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 967px) {
  .home_subt_1 {
    margin-left: -1.3rem;
  }
  .home_subt_2 {
    margin-left: -0.5rem;
  }
  .home_subt_3 {
    margin-left: -1.3rem;
  }
  .home_subt_4 {
    margin-left: -1.6rem;
  }
  .home_subt_5 {
    margin-left: -0.8rem;
  }

  dialog#modal_card_1, dialog#modal_card_2, dialog#modal_card_3 {
    top: 40%;
    left: 28.5%;
  }

  .offer_img {
    position: relative;
    max-width: initial;
    width: 1000px;
    height: auto;
  }

  #car_logos {
    grid-template-columns: repeat(11, max-content);
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: -4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .shape_big {
    width: 500px;
    height: 500px;
  }

  .shape_small {
    width: 400px;
    height: 400px;
  }

  .home_container {
    padding-top: 2rem;
  }

  .home_img {
    width: 780px;
  }

  .home_car {
    column-gap: 7rem;
  }

  .home_car_icon {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .home_subt_4 {
    margin-left: -1.4rem;
  }
  .home_subt_5 {
    margin-left: -0.6rem;
  }

  .about_container {
    column-gap: 6rem;
    align-items: center;
  }

  .about_group, .about_img {
    width: 480px;
  }

  .about_card {
    width: 198px;
    padding: 1rem 1.25rem;
  }

  .about_description {
    padding-right: 4rem;
    margin-bottom: 3rem;
  }

  .popular_container {
    width: 875px;
    padding-top: 3rem;
  }

  .popular_card {
    width: 258px;
    border-radius: 1.25rem;
    margin-bottom: 5rem;
  }

  .popular_img {
    width: 180px;
    margin: .75rem 0 1.25rem 2rem;
  }

  .features_container {
    padding: 2rem 0 3rem;
  }

  .features_img {
    width: 200px;
  }

  .features_card {
    width: 127px;
    padding: .74rem 2.5rem;
  }

  .features_card_1 {
    top: 24rem;
    left: 20rem;
    z-index: var(--z-tooltip);
  }

  .features_card_2 {
    top: 26rem;
    right: 26rem;
    z-index: var(--z-tooltip);
  }

  .features_card_3 {
    bottom: 19rem;
    left: 41rem;
    z-index: var(--z-tooltip);
  }

  dialog#modal_card_1, dialog#modal_card_2, dialog#modal_card_3 {
    top: 40%;
    left: 25%;
  }

  .features_map {
    top: 11rem;
  }

  .featured_container {
    padding-bottom: 2.5rem;
  }

  .featured_filters {
    column-gap: 2rem;
    margin-bottom: 4.5rem;
  }

  .featured_item {
    width: 52px;
    height: 52px;
  }

  .featured_item img {
    width: 2rem;
  }

  .featured_content {
    grid-template-columns: repeat(3, 248px);
    gap: 4rem;
  }

  .offer_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
    padding-bottom: 2rem;
  }

  .offer_data, .offer_title {
    text-align: initial;
  }

  .offer_data {
    margin-bottom: 0;
  }

  .offer_description {
    padding-right: 6rem;
  }

  .offer_img {
    position: relative;
    max-width: initial;
    width: 1200px;
    height: auto;
    right: -4rem;
    align-items: center;
  }

  .logos_container {
    grid-template-columns: repeat(6, max-content);
  }

  .achieves {
    grid-template-columns: repeat(5, max-content);
  }

  .logos_img {
    width: 50px;
  }

  .footer_container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }

  .footer_logo {
    column-gap: .5rem;
  }

  .footer_logo i {
    font-size: 2rem;
  }

  .footer_title {
    margin-bottom: 1.5rem;
  }

  .footer_links {
    row-gap: .75rem;
  }

  .footer_social_link {
    font-size: 1.5rem;
  }

  .footer_copy {
    margin-top: 8rem;
    padding-bottom: 1rem;
  }

  .scrollup {
    right: 3rem;
  }
}

@media screen and (min-width: 1500px) {
  .features_card_1 {
    top: 23rem;
    left: 28rem;
    z-index: var(--z-tooltip);
  }

  .features_card_2 {
    top: 27rem;
    right: 32rem;
    z-index: var(--z-tooltip);
  }

  .features_card_3 {
    bottom: 19rem;
    left: 47rem;
    z-index: var(--z-tooltip);
  }

  dialog#modal_card_1, dialog#modal_card_2, dialog#modal_card_3 {
    top: 40%;
    left: 30%;
  }

  #car_logos {
    grid-template-columns: repeat(11, max-content);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: -4rem;
  }
}

@media screen and (max-width: 490px) {
  .features_card_1 {
    top: 8rem;
    left: 9rem;
    z-index: var(--z-tooltip);
    width: 140px;
    height: 45px;
    align-content: center;
  }

  .features_card_2 {
    top: 14rem;
    right: 3rem;
    z-index: var(--z-tooltip);
    width: 140px;
    height: 45px;
    align-content: center;
  }

  .features_card_3 {
    bottom: 19rem;
    left: 10rem;
    z-index: var(--z-tooltip);
    width: 140px;
    height: 45px;
    align-content: center;
  }
}
